<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Not Found</title>
    <%- include('views/includes/head_random.ejs'); %>
</head>
<body>
    <h1>La página que buscas no existe</h1>
</body>
</html>

